@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-bg: #ffffff;
  --bs-color: #2f2f31;
  --bs-overlay: #f1f1f1;
}

[data-theme="dark"] {
  --bs-bg: #262626;
  --bs-color: #ffffff;
  --bs-overlay: rgba(46, 47, 54, 1);
}

body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;
  background-color: var(--bs-bg);
  color: var(--bs-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bS-overlay {
  background-color: var(--bs-overlay);
}
