@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-bg: #ffffff;
  --bs-bgBody: #ffffff;
  --bs-color: #2f2f31;
  --bs-overlay: #f1f1f1;
  --bs-gray: #e1e1e1;
  --bs-cagePink: transparent;
  --bs-cageBlue: transparent;
  --bs-mobiGray: transparent;
  --bs-inputBorder: #2f2f31;
  --bs-cagePinkBlack: transparent;
  --bs-cageBlueBlack: transparent;
  --bs-grayDark: rgba(173, 173, 173, 1);
  --bs-ceramaic: rgba(56, 56, 56, 1);
  --bs-darkCloud: rgb(234, 232, 225);
  --bs-lineDivider: rgba(222, 222, 222, 1);
}

[data-theme="dark"] {
  --bs-bg: #262626;
  --bs-bgBody: #000000;
  --bs-color: #ffffff;
  --bs-overlay: rgba(46, 47, 54, 1);
  --bs-gray: rgb(7, 8, 9);
  --bs-cagePink: rgba(41, 22, 61, 0.5);
  --bs-cageBlue: rgba(22, 24, 61, 0.5);
  --bs-mobiGray: rgba(82, 81, 81, 1);
  --bs-inputBorder: transparent;
  --bs-cagePinkBlack: rgba(163, 58, 160, 0.5);
  --bs-cageBlueBlack: rgba(60, 58, 163, 0.5);
  --bs-grayDark: rgba(82, 81, 81, 1);
  --bs-ceramaic: rgba(199, 198, 198, 1);
  --bs-darkCloud: rgb(21, 23, 30);
  --bs-lineDivider: rgba(33, 34, 34, 1);
}

body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;
  background-color: var(--bs-gray);
  color: var(--bs-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bS-overlay {
  background-color: var(--bs-overlay);
}

.bS-leftOverlay {
  background-color: var(--bs-gray);
}

.bS-borderRay {
  border: 1px solid transparent;
  border-image: linear-gradient(278.85deg, #2e2f36 13%, #85889c 93.28%);
  border-image-slice: 1;
  border-radius: 20px !important;
}

input:focus {
  border: 0px !important;
  color: var(--bs-color);
}

input {
  color: var(--bs-color);
  font-family: "Montserrat", sans-serif !important;
}

input::placeholder {
  opacity: 1;
  color: rgba(153, 151, 151, 1);
}

button {
  font-family: "Montserrat", sans-serif !important;
}

.bs-cageBlockIndividual {
  background: linear-gradient(
    170deg,
    var(--bs-cagePink) 72.05%,
    var(--bs-cagePinkBlack) 200.35%
  );
}

.bs-cageBlockOrganisation {
  background: linear-gradient(
    170deg,
    var(--bs-cageBlue) 72.05%,
    var(--bs-cageBlueBlack) 200.35%
  );
}

.bGmobiGrayDark {
  background-color: var(--bs-mobiGray);
  border: 1px solid var(--bs-inputBorder) !important;
}

.bs-boxAccount {
  background-color: var(--bs-grayDark);
}

.bs-mobiCeramaic {
  color: var(--bs-ceramaic);
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.custom-scrollbar:hover {
  height: 750px; /* Make div scrollable */
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 transparent; /* For Firefox */
}

/* Chrome, Safari, Edge - Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 10px; /* Rounded track edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded thumb */
  border: 3px solid transparent; /* Padding around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change thumb color on hover */
}
