@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-bg: #ffffff;
  --bs-color: #2f2f31;
}

[data-theme="dark"] {
  --bs-bg: #262626;
  --bs-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--bs-bg);
  color: var(--bs-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
